<form>
  <label>Name</label>
  {{view Ember.TextField valueBinding="name"}}
  <br />
  <label>Addresse</label>
  {{view Ember.TextField valueBinding="address"}}
  <br />
  <label>By</label>
  {{view Ember.TextField valueBinding="city"}}
  <br />
  <label>Post</label>
  {{view Ember.TextField valueBinding="postcode"}}
  <br />
  <label>Phone</label>
  {{view Ember.TextField valueBinding="phone"}}
  <br />
  <label>Email</label>
  {{view Ember.TextField valueBinding="email"}}
  <br />
</form>
