<h3>Udfyld sælger og køber</h3>

Kontakter i databasen. {{contacts.length}}

State: {{model.state}}

<h5>Sælger:</h5>
<form>
  <label>Name</label>
  {{input-list content=contacts valueBinding="seller_name" type="seller" action="fillInfo"}}
  <br />
  <label>Addresse</label>
  {{view Ember.TextField valueBinding="seller_address"}}
  <br />
  <label>By</label>
  {{view Ember.TextField valueBinding="seller_city"}}
  <br />
  <label>Post</label>
  {{view Ember.TextField valueBinding="seller_postcode"}}
  <br />
  <label>Phone</label>
  {{view Ember.TextField valueBinding="seller_phone"}}
  <br />
  <label>Email</label>
  {{view Ember.TextField valueBinding="seller_email"}}
  <br />
</form>

<h5>Køber</h5>
<form>
  <label>Name</label>
  {{input-list content=contacts valueBinding="buyer_name" type="buyer" action="fillInfo"}}
  <br />
  <label>Addresse</label>
  {{view Ember.TextField valueBinding="buyer_address"}}
  <br />
  <label>By</label>
  {{view Ember.TextField valueBinding="buyer_city"}}
  <br />
  <label>Post</label>
  {{view Ember.TextField valueBinding="buyer_postcode"}}
  <br />
  <label>Phone</label>
  {{view Ember.TextField valueBinding="buyer_phone"}}
  <br />
  <label>Email</label>
  {{view Ember.TextField valueBinding="buyer_email"}}
  <br />
</form>


<button {{action 'gotoSecond'}}>Next</button> - <a href="javascript:window.history.go(-1)">Delete</a>
